@model InventoryManagementSystem.user

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}

<br />
<center>
    <h2 class="text-primary font-weight-bold">Delete Users</h2>
</center>

<h3>Are you sure you want to delete this? @Html.DisplayFor(model => model.u_name)</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
